#Main {
    position: relative;
    font-family: 'Segoe UI';
    font-weight: bold;
}

.DangKyDangNhap {
    float: right;
    margin-top: -1%;
    
}

    .DangKyDangNhap a:hover {
        text-decoration: none;
        color: green;
    }

.Phone {
    float: left;
    margin-top: -1%;
}
/*Menu*/
.Menu {
    float: right;
}

#divDanhMuc {
    height: 30px;
    margin-top: -10px;
   
}

.Menu li {
    display: inline;
    border-right: solid 1px rgba(0,0,0,.2);
    padding: 20px;
    padding-top: 18px;
    padding-bottom: 19px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;

}

.Menu a:hover {
    text-decoration: none;
}

.Menu li:hover {
    background-color: rgba(0,0,0,.5);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
   
}
/*Tìm kiếm*/
#TimKiem {
    float: left;
    margin-left: 5%;
}

    #TimKiem input {
        height: 0;
        margin-left: -200px;
    }
#imgtimkiem button {
    margin-right: -200px;
    padding: 0 10px 0 10px;
    background-color: #073836;
}
.TextBoxTimKiem{
    width:300px;
}
    #imgtimkiem button:hover {
        background-color: rgba(0,0,0,.5);
    }

#imgtimkiem img {
    width: 30px;
    height: 30px;
}
.img{
    margin-left:30px;
    float:left;
    
}
.img img{
    height:80px;
    margin-top:-35px;
    margin-left:40px;
}
#imgtimkiem {
    margin-top: -33px;
}
/*nivoslider*/
#slider {
    float: right;
    height: 400px;
    width: 70%;
}

    #slider img {
        height: 400px;
        width: 70%;
    }

#divMenuLeft {
    float: left;
    width: 30%;
}

.mid {
    height: 500px;
    margin-top: 90px;
}

#divLeft {
    float: left;
    width: 30%;
}

    #divLeft .item {
        width: 100%;
    }

#divRight {
    float: right;
    width: 70%;
}

.topp {
    width: 100%;
    height: 35px;
    background-color: #0082bb;
    display: block;
    position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
    top: 0; /*Nằm trên cùng*/
    left: 0; /*Nằm sát bên trái*/
    z-index: 100000; /*Hiển thị lớp trên cùng*/
}

    .topp ul {
        margin: 0;
        padding: 0;
    }
